:root {
  font-size: 62.5%;
  --green: rgb(83, 124, 83);
  --white: white;
  --red: rgb(117, 54, 54);
  --lightgrey: rgb(235, 235, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Montserrat;
  src: url(Montserrat-VariableFont_wght.ttf);
}

html {
  box-sizing: border-box;
  font-family: Montserrat;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.logo {
  max-width: 10rem;
}

.wr {
  margin: 0 auto;
  max-width: 100rem;
}

.header-wr {
  display: flex;
  padding: 1rem;
  max-width: 100rem;
  justify-content: left;
  align-items: center;
  gap: 10rem;
}

p,
label {
  font-size: 1.5rem;
}
label {
  margin-top: 1rem;
}

textarea {
  resize: vertical;
  display: block;
}
input {
  margin: 1rem;
}

h1 {
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 5rem;
  padding: 2rem;
  border-radius: 10px;
}
#form-section .wr {
  display: grid;
  justify-content: center;
  background-color: var(--lightgrey);
  border-radius: 10px;
}

#form-section {
  margin-bottom: 40rem;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer .wr {
  padding: 2rem;
  background-color: var(--lightgrey);
  border-radius: 10px 10px 0 0;
}

#submitbtn {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;

  border-radius: 1rem;
  margin-top: 5rem;
  background-color: black;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}

#header-section .wr {
  padding: 2rem;
  display: grid;
  justify-content: center;
  background-color: var(--lightgrey);
  border-radius: 10px;
}

.withlink {
  margin-top: 1rem;
}
.output-textarea {
  width: 50rem;
  min-height: 30rem;
}
